<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/home.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/assets/vueQ.js" defer></script>
    <title>HOME</title>
  </head>
  <body>
    <div id="q-list"></div>
    <script src="/assets/header.js"></script>
      <div v-for="q in fetchQ">
        <form>
          <h3>{{ q.title }}</h3>
          <p>{{ q.content }}</p>
        </form>
      </div>
    </div>
  </body>
</html>