header {
    display: flex;
    color: #ffffff;
    background-color: #404040;
    margin-top: auto;
    height: 5em;
}
header a {
    color: #ffffff
}

.headline {
    margin-left: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbox{
    display: flex;
    margin: auto;
    height: 3em;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-list-item {
    margin-right: 50px;
}

