<div class="input">
    <p>{{.err}}</p>
    <form action="/signup" method="post">
      <p>ユーザー名 :<input type="text" name="username" placeholder=""/></p>
      <p>パスワード :<input type="text" name="password" placeholder=""/></p>
      <p><input type="submit" value="登録" /></p>
    </form>
</div>